wp-content/cache
wp-content/uploads
wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
*.DS_Store
log.txt
